name: languamie
description: "A bilingual gamified educational tool for Algerian primary school students."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  # State Management
  provider: ^6.1.1
  # Fonts for the "Cute" aesthetic
  google_fonts: ^6.1.0
  # Text to Speech for Alphabet/Numbers
  flutter_tts: ^3.8.5
  # For UI styling
  flutter_animate: ^4.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
